.test-container {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-top: 5px;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: center;
}
.test-image {
  width: 100%;
  border: 1px solid #666666;
  height: 301px;
  display: flex;
  overflow: hidden;
  max-width: 370px;
  min-width: 20px;
  max-height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
}
.test-container1 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  max-width: 231px;
  box-sizing: border-box;
  flex-basis: 0;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  flex-direction: column;
  justify-content: center;
}
.test-textinput {
  width: 100%;
  border: 1px solid rgb(187, 187, 187);
  height: 85px;
  font-size: 0.8em;
  max-width: 228px;
  min-width: 20px;
  margin-top: 15px;
  align-items: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 5px;
  margin-bottom: 15px;
  background-color: #FFFFFF00;
}
.test-button {
  width: 100%;
  border: 1px solid #666666;
  height: 33px;
  display: flex;
  font-size: 0.8em;
  max-width: 226px;
  min-width: 20px;
  margin-top: 15px;
  max-height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
  -webkit-user-drag: none;
}
.test-image1 {
  width: 100%;
  border: 1px solid #666666;
  height: 119px;
  display: flex;
  overflow: hidden;
  max-width: 227px;
  min-width: 20px;
  max-height: 100%;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
}
