.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem;
}

.header {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-bottom: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	.header {
		border-color: #222;
	}
}

.errorContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem;
}

.errorContainer p {
	text-align: center;
}

.errorContainer button {
	padding: 0.5rem 2rem;
	cursor: pointer;
}
