.loaderContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem;
}

.header {
	display: flex;
	flex: 1;
	padding: 0.5rem 0;
	border-bottom: 1px solid #eaeaea;
	justify-content: space-between;
	align-items: center;
}

.appName {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: larger;
}

.logoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	margin-left: 0.5rem;
}

.header a {
	text-decoration: underline;
	color: blue;
}

@media (prefers-color-scheme: dark) {
	.header {
		border-color: #222;
	}
	.header a {
		color: #0eded9;
	}
}

.errorContainer {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem;
}

.errorContainer p {
	text-align: center;
}

.errorContainer button {
	padding: 0.5rem 2rem;
	cursor: pointer;
}
